annuaire.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="contact" maxOccurs="unbounded">
<xs:attribute name="techno" type="xs:string" use="optional" /> 
  <sequence>
    <xs:element name="nom" type="xs:string" />
    <xs:element name="prenom" type="xs:string" />
    <xs:element name="telephone" type="xs:string" />
    <xs:element name="email" type="xs:string" />
  </sequence>
</xs:complexType>
</xs:schema>